.detailed {

  .bread-box {
    padding: 20px;
    border-bottom: 1px solid #eee;
    background-color: #e1f0ff;
  }

  .detailed-title {
    font-size: 30px;
    text-align: center;
    padding: 20px;
  }

  .center {
    text-align: center;
  }

  .detailed-content {
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
  }

  .detailed-content h1 {
    font-size: 30px;
  }

  .detailed-content h2 {
    font-size: 28px;
    border-bottom: 1px solid #cbcbcb;
  }

  .detailed-content h3 {
    font-size: 24px;
  }

  .detailed-content pre {
    display: block;
    background-color: #283646;
    padding: 5px;
    border-radius: 5px;
  }

  .detailed-content pre>code {
    color: #FFF;
    background-color: #283646;
  }

  .detailed-content code {
    background-color: #fff5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 3px;
    color: #ff502c;
  }

  .detailed-content blockquote {
    border-left: 4px solid #cbcbcb;
    padding: 10px 10px 10px 30px;
    background-color: #f8f8f8;
  }

  iframe {
    height: 1000px;
  }

  .detailed-content img {
    width: 100%;
    border: 1px solid #f3f3f3;
  }

  .list-icon {
    span {
      font-size: 16px;
      margin: 10px;
    }
  }

  .detailed-nav {
    padding: 0 10px;

    .nav-title {
      text-align: center;
      color: #888;
      border-bottom: 3px solid rgb(30, 144, 255);
      margin-bottom: 10px;
      padding: 5px 0;
      font-weight: bolder;
      font-size: 20px;

    }

    ul {
      max-height: 400px;
      overflow-y: auto;
      overflow-y: overlay;
      box-sizing: border-box;
      padding-right: 10px;
      margin: 0px;

      li {
        display: flex;
        width: 100%;
        margin-bottom: 10px;

        .serial-number {
          display: inline-block;
          width: 18%;
          height: 40px;
          box-sizing: border-box;
          background-color: #405061;
          color: white;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;



        }

        .article-title {
          display: block;
          width: 82%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          background-color: #EEE;
          align-items: center;
          padding-left: 15px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          cursor: pointer;


        }

        .article-title:hover {
          background-color: #BBD8DC;
          color: white;
        }

      }

      li:last-of-type {
        margin-bottom: 0;
      }
    }

    ul::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 10px;
      /*高宽分别对应横竖滚动条的尺寸*/
      height: 1px;
    }

    ul::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 10px;
      background-color: #405061;
      background-image: -webkit-linear-gradient(45deg,
          rgba(255, 255, 255, 0.2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.2) 75%,
          transparent 75%,
          transparent);
    }

    ul::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: #ededed;
      border-radius: 10px;
    }
  }



}